.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}



.container:hover{
    background-color: #2e374a;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rank{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.rankWithImage {
    display: flex;
    align-items: center;
}

.detail{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 300;
}

.positive{
    color: lime;
}

.negative{
    color: red;
}

.username{
    font-weight: 700;
}
